<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Artistas</title>
</head>
<body>

  <h1>Artistas</h1>

  <table>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Albuns</th>
    </tr>
    <tr th:each="artist : ${artists}">
      <td th:text="${artist.id}"></td>
      <td th:text="${artist.name}"></td>
      <td>
        <ul>
          <li th:each="album : ${artist.albums}" th:text="${album.title}"></li>
        </ul>
      </td>
    </tr>
  </table>

  <a href="/albums">Avaliar</a>
  <br>
  <br>
  <form th:action="@{/home}" method="post">
    <button type="submit">Voltar</button>
  </form>

</body>
</html>